h1 {
    background-color: lightblue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    margin-top: 20px;
    font-weight:bolder;
    font-size: 30px;
}

.card {
    margin: 10px;
}

.colUno {
    background-color: white;
}

.colDos {
    background-color: lightblue;
}

.histBtnRow {
    margin-top: 5px;
    margin-bottom: 5px;
}

.cardTodayDate {
    font-size: 20px;
}